// b: bottom l: left r: right t: top
// p: padding m: margin

/* ==========
    padding margin
   ========== */

$padding-set: (t, top), (b, bottom), (l, left), (r, right);

@each $name, $type in $padding-set {
    @for $i from 1 through 4 {

        $t: $i * 5;
        $total: #{$t}px;

        .p#{$name}-#{$t} {
            padding-#{$type}: $total;
        }

        .m#{$name}-#{$t} {
            margin-#{$type}: $total;
        }
    }
}

@for $i from 1 through 4 {

    $t: $i * 5;
    $total: #{$t}px;

    .ptb-#{$t} {
        padding-top: $total;
        padding-bottom: $total;
    }

    .plr-#{$t} {
        padding-left: $total;
        padding-right: $total;
    }

    .mtb-#{$t} {
        margin-top: $total;
        margin-bottom: $total;
    }

    .mlr-#{$t} {
        margin-left: $total;
        margin-right: $total;
    }
}

@for $i from 10 through 30 {
    $t: $i * 10;
    $total: $i * 10px;
    .w-#{$t} {
        width: $total;
    }
}



/* ==========
    font
   ========== */
.pure-g [class*=pure-u] {
    font-family: "Helvetica Neue", Arial, sans-serif;;
}


.ft-primary {
    color: $color-primary;
}

.ft-warn {
    color: $color-warn;
}

.ft-content {
    color: $color-content;
}

.ft-center {
    text-align: center;
}

/* ==========
    border
   ========== */


.bl-2 {
    border-left: 2px solid $color-light;
}

.bb-1 {
    border-bottom: 1px solid $color-light;
}

.bc-primary {
    border-color: $color-primary;
}

.bc-warn {
    border-color: $color-warn;
}



