@import "./theme";

$color-white: #fff;

$color-primary: #42a5f5;

$color-warn: #ff8a80;

$color-gray: #999;

$color-light: #eee;

$color-content: #6f6f6f;

$color-text: #333;

// height

$element-height-small: 20px;

$element-height: 30px;

$element-height-large: 40px;

$element-height-big: 50px;

$box-shadow: 0 2px 8px rgba($color-light, .8);


$font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", sans-serif;