.ui-avatar {
    img {
        max-width: 100%;
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
}

.ui-avatar-small {
    img {
        height: 50px;
        width: 50px;
    }
}