/* ==========
    button
   ========== */
$type-map: (primary, $color-primary),
        (warn, $color-warn);

$size-map: (small, $element-height-lit),
        (big, $element-height-big);

.u-button {
    height: $element-height;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    background: $color-light;
    &:hover {
        background: darken($color-light, 10%);
    }
    i {
        margin-right: 5px;
    }
    &.btn-line {
        line-height: $element-height - 2px;
    }
}

// type

.btn-line {
    border: 1px solid $color-light;
    background: transparent;
    &:hover {
        background: transparent;
        border-color: darken($color-light, 10%);
    }
}

.btn-circle {
    width: $element-height;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    i {
        margin: 0;
    }
}

// color

%front-color {
    color: #fff;
}

@each $btn, $color in $type-map {
    .btn-#{$btn} {
        background: $color;
        &:hover {
            background: darken($color, 10%);
        }
        @extend %front-color;
    }
}

.btn-white {
    background: $color-white;
    &:hover {
        background: lighten($color-light, 5%);
    }
}

// size

@each $btn, $size in $size-map {
    .btn-#{$btn} {
        height: $size;
        line-height: $size;
        &.btn-circle {
            width: $size;
        }
        &.btn-line {
            line-height: $size - 2px;
        }
    }
}

.btn-small {
    font-size: 12px;
}


