/* ==========
    button
   ========== */
$type-map: (primary, $color-primary),
        (dark, $color-text),
        (warn, $color-warn);

$size-map: (small, $element-height-small),
        (large, $element-height-large);

.ui-button {
    display: inline-block;
    padding: 0 10px;
    height: $element-height;
    border: 0;
    border-radius: 2px;
    text-align: center;
    line-height: $element-height;
    cursor: pointer;
    background: $color-light;
    transition: background .2s, color, .2s;
    &:hover {
        background: $color-primary;
        color: $color-white;
    }
    i + span {
        margin-left: 5px;
    }
    span + i {
        margin-left: 5px;
    }
    &.btn-line {
        line-height: $element-height - 2px;
        &:hover {
            color: $color-content;
        }
    }
}

// type

.btn-line {
    border: 1px solid $color-light;
    background: transparent;
    &:hover {
        background: transparent;
        border-color: darken($color-light, 10%);
    }
}

.btn-square,
.btn-circle {
    width: $element-height;
    padding: 0;
    text-align: center;
}

.btn-circle {
    border-radius: 50%;
}

// color

%front-color {
    color: #fff;
}

@each $btn, $color in $type-map {
    .btn-#{$btn} {
        background: $color;
        &:hover {
            background: darken($color, 10%);
        }
        @extend %front-color;
    }
}

.btn-white {
    background: $color-white;
    &:hover {
        background: $color-primary;
    }
}

// size

@each $btn, $size in $size-map {
    .ui-button.#{$btn} {
        height: $size;
        line-height: $size;
        &.btn-circle {
            width: $size;
        }
        &.btn-square {
            width: $size;
        }
        &.btn-line {
            line-height: $size - 2px;
        }
    }
}

.ui-button.small {
    font-size: 12px;
}


