/* =====
    crumbs
   ===== */
.ui-crumbs {
  font-size: $font-size-small;
  color: map_get($fc1, 200);
  .link,
  .current,
  .cut {
    margin-right: 10px;
  }
  .current {
    color: $color-text;
  }
  .cut {
    color: $color-text-disabled;
  }
  .link {
    color: $color-text;
    &:hover {
      color: $color-text-link;
    }
  }
}