.ui-image {
    position: relative;
    overflow: hidden;
    img {
        vertical-align: bottom;
    }
    .tit {
        padding: 10px;
        font-size: 20px;
    }
    .desc {
        padding: 5px 10px;
        font-size: 12px;
    }
}

.img--cover {
    .layer {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(#000, .2);
    }
    .tit {
        bottom: 50px;
        transition: transform .4s;
    }
    .desc {
        bottom: 0;
        opacity: 0;
        transition: transform .4s, opacity .4s;
    }
    .tit,
    .desc {
        position: absolute;
        left: 0;
        width: 100%;
        color: $color-white;
        transform: translate3d(0,0,0);
    }
    &:hover {
        .tit {
            transform: translate3d(0,-10px,0);
        }
        .desc {
            transform: translate3d(0,-40px,0);
            opacity: 1;
        }
        .layer {
            background: rgba(#000, .1);
        }
    }
}

.img--cover-center {
    .tit {
        margin-top: -20px;
    }
    .tit,
    .desc {
        top: 50%;
        margin-top: -15px;
        text-align: center;
        bottom: auto;
        transform: translate3d(0,0,0);
    }
    &:hover {
        .tit {
            transform: translate3d(0,-10px,0);
        }
        .desc {
            transform: translate3d(0,25px,0);
        }
    }
}

.img--frame {
    text-align: center;
    .frame {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid $color-white;
            transform: scale(.9);
            transition: transform .2s;
        }
    }
    .tit {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 16px;
        line-height: 1;
        background: $color-white;
    }
    &:hover {
        .frame {
            &:before {
                transform: scale(1);
            }
        }
        .tit {
        }
    }
}