
%app {
    -webkit-appearance: none;
    -moz-appearance: none;
}

%pointer {
    cursor: pointer;
}

@each $type in text, email, search, password {
    input {
        &[type="#{$type}"] {
            @extend %app;
        }
    }
}

@each $type in radio, checkbox, button, submit {
    input {
        &[type="#{$type}"] {
            @extend %pointer;
        }
    }
}


.u-input {
    height: $element-height;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid $color-light;
    border-radius: 2px;
    &:focus {
        outline: none;
        border-color: $color-primary;
    }
}

