.ui-menu {
    li {
        display: inline-block;
        margin: 0 5px;
    }

    .active,
    .active a {
        color: $color-primary;
    }

    a {
        display: inline-block;
        padding: 0 10px;
        vertical-align: middle;
    }

    span {
        color: $color-light;
    }
}

.menu-line {
    .active {
        border-bottom: 2px solid $color-primary;
    }
}

.ui-vertical-menu {
    display: inline-block;
    background: $color-white;
    border-radius: 2px;
    box-shadow: $box-shadow;
    .item {
        display: block;
        padding: 6px 10px;
    }
    .active {
        background: $color-light;
    }
}