.ui-modal {
    visibility: hidden;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s, z-index 0s 0.2s;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    & > * {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left;
    }

    &:before {
        display: inline-block;
        overflow: hidden;
        width: 0;
        height: 100%;
        vertical-align: middle;
        content: "";
    }

    &.modal-visible {
        z-index: 9999;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s;
    }

    .modal-inner {
        position: relative;
        overflow: hidden;
        max-width: 90%;
        max-height: 90%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        z-index: -1;
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.2s, transform 0.3s, z-index 0s 0.2s;
    }

}

.modal-title div {
    padding: 20px 30px;
    font-size: 20px;
}

.modal-visible .modal-inner {
    z-index: 100;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 28px;
    cursor: pointer;
    text-align: center;
    background: #fff;
}

/* animate */
.ui-modal.ui-modal-drop {
    .modal-inner {
        transform: scale(1) translate3d(0,-50%,0);
        transition: opacity 0.4s, transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), z-index 0s 0.3s;
    }
    &.modal-visible .modal-inner {
        transform: translate3d(0,0,0);
    }
}