$h: 8px;

.ui-process {
    position: relative;
    height: $h;
    border-radius: 4px;
    background: $color-light;
    overflow: hidden;
    .bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: $h;
        transition: width .3s;
        background: $color-primary;
    }
    &.red {
        .bar {
            background: $color-warn;
        }
    }
}