/* =====
    tab
   ===== */
$h: 41px;

.ui-tab {
  height: $h;
  margin-bottom: 30px;
  line-height: $h - 1px;
  font-size: $font-size-normal;
  border-bottom: 1px solid $background-gray-hover;
  .tab-item {
    float: left;
    display: inline;
    margin-right: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid $background-gray-hover {
      bottom: 0;
    };
    border-radius: 4px 4px 0 0;
    background: $background-gray-hover;
  }
  .current {
    background: $color-white;
  }
}




