/* =====
    tab
   ===== */
$h: 46px;

.ui-tab {
    height: $h;
    line-height: $h;
    font-size: $font-size-small;
    border-radius: $radius-normal;
    background-color: $background-gray;
    // .....
}




