/* =====
    table
   ===== */
$h: 40px;
$h-small: 34px;

.ui-table {
  width: 100%;
  border: 0;
  font-size: $font-size-normal;

  th {
    height: $h;
    padding: 0 10px;
    color: $color-text-gray;
    border-bottom: 1px solid $color-border;
  }

  tr {
    transition: background-color .3s;
    &:nth-child(2n + 1) {
      td {
        background-color: $background-gray;
      }
    }
  }

  td {
    padding: 20px 10px;
    border-bottom: 1px solid $color-border;
  }

  &.small {
    font-size: $font-size-small;
    th {
      height: $h-small;
    }
    td {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}