
h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    margin: .5em 0;
    font-weight: inherit;
}

p {
    margin: .8em 0;
    color: $color-content;
}

em {
    color: $color-primary;
}

a {
    color: $color-text;
    &:hover {
        color: $color-primary;
    }
}

blockquote {
    padding: 1px 10px;
    margin: 0 0 10px;
    color: $color-text;
    font-size: 12px;
    letter-spacing: .7px;
    border-left: 3px solid lighten($color-primary, 5%);
    background: lighten($color-light, 5%);
}

blockquote p {
    margin: 5px 0;
}

