/* ==========
    font
   ========== */
.ft-primary {
    color: $color-primary;
}

.ft-center {
    text-align: center;
}

.ft-text {
    color: $color-text;
}

.ft-link {
    color: $color-text-link;
}

.ft-warn {
    color: $color-text-warn;
}

.ft-dark {
    color: $color-text-dark;
}

.ft-gray {
    color: $color-text-gray;
}

.ft-16 {
    font-size: 16px;
}

.ft-14 {
    font-size: 14px;
}

.ft-12 {
    font-size: 12px;
}

