---
layout: default
---
    
h2.item-title button

h3 颜色

button.mr-10.u-button normal
button.mr-10.u-button.btn-primary primary
button.mr-10.u-button.btn-warn warn

- var codeContent = '<button class="u-button btn-primary">primary</button>'
    include code.pug
    

h3 大小

button.mr-10.u-button.btn-small small
button.mr-10.u-button normal 
button.mr-10.u-button.btn-big big

- var codeContent = '<button class="u-button btn-small">small</button>'
    include code.pug
    

h3 图标

button.mr-10.u-button
    i.fa.fa-twitter
    | twitter

button.mr-10.u-button.btn-line
    i.fa.fa-facebook
    | facebook

- var codeContent = '<button class="u-button"><i class="fa fa-facebook"></i>facebook</button>'
    include code.pug

h3 圆形

button.u-button.btn-circle.mr-10
    i.fa.fa-qq
    
button.u-button.btn-primary.btn-circle
    i.fa.fa-qq