<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}

<div class="page-wrap page-layout">

    <div class="pure-g">
        <div class="pure-u-1-6">
            {% include nav.html %}
        </div>

        <div class="pure-u-5-6">
            <div class="page-main">
                <main class="main" aria-label="content">
                    {{content}}
                </main>
            </div>
        </div>
    </div>

    {% include footer.html %}


</div>


</body>
</html>