<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<body>

<div class="page-wrap">
    <nav class="page-nav">
        <p class="ft-title">Menu</p>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">index</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">components</a></li>
            <li><a href="#">components</a></li>
        </ul>
    </nav>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}
</div>

</body>

</html>
